---
import { getCollection } from "astro:content";
import Layout from "../layouts/main.astro";
import type { MarkdownHeading } from "astro";
import type { AstroComponentFactory } from "astro/dist/runtime/server";
import Sidebar from "../components/Sidebar.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const docEntries = await getCollection("docs");
  return docEntries.map((page) => ({
    params: { slug: page.slug === "index" ? undefined : page.slug },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content, headings } = (await page.render()) as {
  Content(props: Record<string, any>): AstroComponentFactory;
  headings: MarkdownHeading[];
};

const groupedHeadings = headings.reduce(
  (acc, heading) => {
    if (heading.depth === 1) {
      acc.push({ ...heading, children: [] });
    } else {
      acc[acc.length - 1].children.push(heading);
    }
    return acc;
  },
  [] as (MarkdownHeading & { children: MarkdownHeading[] })[],
);
---

<Layout title={page.data.title}>
  <main
    class="relative mx-auto flex w-full max-w-8xl flex-auto justify-center sm:px-2 lg:px-8 xl:px-12"
  >
    <div class="hidden lg:relative lg:block lg:flex-none">
      <div
        class="sticky top-[4.75rem] -ml-0.5 h-[calc(100vh-4.75rem)] w-64 overflow-y-auto overflow-x-hidden py-16 pl-0.5 pr-8 xl:w-72 xl:pr-16"
      >
        <Sidebar />
      </div>
    </div>
    <article
      class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pl-8 lg:pr-0 xl:px-16 prose prose-zinc dark:prose-invert"
    >
      <header class="mb-9 space-y-1 not-prose">
        <p class="font-display text-sm font-medium text-emerald-500">
          {page.data.category}
        </p><h1
          class="font-display text-3xl tracking-tight text-zinc-900 dark:text-white"
        >
          {page.data.title}
        </h1>
      </header>
      <Content />
    </article>
    <div
      class="hidden xl:sticky xl:top-[4.75rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.75rem)] xl:flex-none xl:overflow-y-auto xl:py-16 xl:pr-6"
    >
      <nav class="w-56">
        <h2
          class="font-display text-sm font-medium text-zinc-900 dark:text-white"
        >
          On this page
        </h2>
        <ol class="mt-4 space-y-3 text-sm" role="list">
          {
            groupedHeadings.map((header) => (
              <li>
                <h3>
                  <a
                    class="font-normal text-zinc-500 hover:text-zinc-700 dark:text-zinc-400 dark:hover:text-zinc-300"
                    href={`#${header.slug}`}
                  >
                    {header.text}
                  </a>
                </h3>
                {header.children.length > 0 && (
                  <ol
                    class="mt-2 space-y-3 pl-5 text-zinc-500 dark:text-zinc-400"
                    role="list"
                  >
                    {header.children.map((child) => (
                      <li>
                        <a
                          class="hover:text-zinc-600 dark:hover:text-zinc-300"
                          href={`#${child.slug}`}
                        >
                          {child.text}
                        </a>
                      </li>
                    ))}
                  </ol>
                )}
              </li>
            ))
          }
        </ol>
      </nav>
    </div>
  </main>
</Layout>
